.row {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  background-color: rgb(220, 220, 220);
  align-items: center;
  justify-content: center;

  .validSeat {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease-in;
    user-select: none;
    &:hover {
      background-color: rgb(24, 180, 16);
    }
  }

  .excludedSeat {
    width: 6rem;
    height: 6rem;
    background-color: rgb(220, 220, 220);
    user-select: none;
  }

  .selectedSeat {
    background-color: orange !important;
    color: black;
    user-select: none;
  }

  .reservedSeat {
    width: 6rem;
    height: 6rem;
    background-color: #777;
    color: black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: not-allowed;
  }
}
